body {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.tables {
padding-top: 3rem; 
}

.table {
width: auto;
margin-left: auto;
margin-right: auto;
}

.tables .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  opacity: .5;
}

.form-control-dark {
  background-color: rgba(255, 255, 255, .05);
  border-color: rgba(255, 255, 255, .15);
}



